{% block title %}Register Account{% endblock %}
{% block sub_content %}

<form action="/login" id="login" name="loginform" method="POST">
  {% csrf_token %}
  <hr>

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="john@example.com" />
    <input type="text" name="email" placeholder="john@example.com" />
    <label for="district">Email</label>
    <input type="text" name="district" placeholder="Thane" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="******" />
    <input type="submit" value="Login" class="button" />

</form>

{% endblock %}